#title {
    background-color: #ff4c68;
    color: aliceblue;
}

#titulo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900; /* black */
    font-size: 3.5rem;
    line-height: 1.5;
}

.container-fluid {
    padding: 3% 15% 7%;
}

/*navigation bar*/
.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: Ubuntu;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: Montserrat;
}

/*Download buttons*/
.download-btn {
    margin: 5% 3% 5% 0;
}

/*title image*/
.title-image {
    width: 20%;
    transform: rotate(20deg);
    position: absolute;
    right: 300px;
    top: 160px;

}

/*features*/
#features {
    padding: 7% 15%;
    background-color: white;
    position: relative;
    z-index: 1;
}

.features-div {
    text-align: center;
    padding: 5%;

}

h2 {
    font-family: Montserrat;
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}

h3 {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 1.5rem;
}

.fa-solid {
    color: #ef8172;
    margin-bottom: 1rem;
}

.fa-solid:hover {
    color: #ff4c68;
}


/*testimonial section*/
#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: aliceblue;

}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;

}

.press-logo {
    width: 15%;
    margin: 20px 20px;
}

.carousel-item {
    padding: 7% 15%;
}


/*Pricing section*/
#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-column {
    padding: 3% 1%;
}

@media (max-width: 992px) {
    #title {
        text-align: center;
    }

    #titulo {
        font-size: 5rem;
    }

    .title-image {
        position: static;
        transform: rotate(0);
        width: 50%;

    }
}

/*call to action section*/
#cta {
    background-color: #ff4c68;
}

.cta-title {
    font-family: Montserrat;
    font-weight: 900;
    color: white;
    text-align: center;
    font-size: 3rem;
    padding: 60px 25% 0;
}

.btn-cta {
    text-align: center;
}

.btn-cta button {
    margin: 2% 1% 5% 0;
}

/*footer*/
#footer {
    text-align: center;
    margin-bottom: 3%;
}

.social-icon {
    margin-right: 10px;
    margin-top: 5%;
    margin-bottom: 2%;
    font-size: 1.5rem;
}

section {
  min-height: 100vh;
  display: grid;
  place-items: center;
  align-content: center;
}


#nav {
  background-color: #ff4c68;
  color: aliceblue;
  padding: 1.5rem;
}


.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 2s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

#chihuahua {
  transition-delay: 200ms;
}

#labrador {
  transition-delay: 1000ms;
}

#mastiff {
  transition-delay: 2000ms;
}